*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}



.section00{
    background-image: linear-gradient(180deg, #0bccee 0%, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url(KCW-4-compressor.jpg);
    /* background-image: url(./images/FCW-4-compressor.jpg); */
    /* width: 100%; */
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: medium solid black; */
    background-position: center;
    
}


.section0 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    /* border: medium solid black; */
}

.section0 nav .wrapper ul {
    /* border: medium solid black; */
    display: flex;
    gap: 2em;
    width: 100%;

}

.section0 nav .wrapper ul li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .02em;
    color: rgba(255, 255, 255, 0.7);

}

.section0 nav .wrapper ul li a:hover{
    color: #fff;
}

.icons{
    /* border: medium solid black; */
    display: inline-block;
    padding: 30px;
}

.section0 nav img{
    width: 50px;
    color: #fff;
}



.application-header__mobile-icon {
    display: none;
}

.application-header__mobile-icon a{
    text-decoration: none;
    color: black;
    /* font-size: 80%; */
}

.dro{
    width: 100%;
    padding: 500px;
}

.heart{
    width: 1.5em;
    color: #fff;
    /* margin-bottom: 8px; */
    /* padding-left: 80px; */
}

.banner{
    display: flex;
    align-items: center;
    gap: 1em;
    /* padding-left: 70px; */
}

.church{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: 'Cerebri Sans', sans-serif;
    line-height: 1.9;
}

.go-forth1{
    font-size: 70px; 
    line-height: 1.1em; 
    font-weight: bold;
    letter-spacing: -.4px;
    color: rgb(255, 255, 255);
    /* display: inline-block; */
}


.go-forth{
    font-size: 70px; 
    line-height: 1.1em; 
    font-weight: bold;
    letter-spacing: -.4px;
    color: rgb(255, 255, 255);
}



.wrapper2{
    justify-content: center;
}

.circle1{
    /* border: medium solid black; */
    display: flex;
    justify-content: center;   
    width: 50%;
    height: 30px;
  
}


.circlee{
    /* border: medium solid black; */
    width: 100px;
    height: 100px;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    /* color: rgb(141, 216, 22); */
    background: linear-gradient(to right, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
}

.circlee:hover{
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    color: rgb(141, 216, 22);
    background: linear-gradient(to left, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
}


   



.play{
    color: white;
    /* position: absolute; */
}

.play1{
    color: #fff;
    margin: auto;
    font-size: 700px;
}


@media(max-width: 768px){

    .wrapper2{
        flex-wrap: wrap;
    }

    .go-forth{
        font-size: 60px; 
        line-height: 1.1em; 
        font-weight: 500;
        
    }

    .circle1{
        width: 100%;   
        margin-top: 30px; 
        justify-content: start;
    }

    .circlee{
        width: 50px;
        height: 50px; 
    }

    
    .application-header__mobile-icon {
            display: inline;
        }
    
    .section0 nav .wrapper, .icons{
            display: none;
            
        }

        
    
}

/* Section 2 */

.sec2{
    margin-top: 120px;
    /* border: medium solid black; */
}



@media(max-width: 768px){
    .sec2{
        margin-bottom: 60px; 
        width: 100%;      
    }


    .row{
        flex-direction: column;

    }

    .txt .head{
        width: 100%;
        font-size: 20px;
        line-height: 1em;
        

    }


}

/* section 3 */

.head{
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
}


.section1 p{
    margin-top: 30px;
    font-size: 10px;
    font-weight: 500;
    width: 70%;
  
}

.ld_button_664b8f9a59234{
    color: #8dd816;
    font-size: 14px;
    letter-spacing: 0.075em;
}

.btn-naked {
    border: none;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.circle2{
    position: relative;
    margin-top: 70px;
    /* border: medium solid black; */

}

.circle2 img{
    max-width: 100%;
    height: 80vh;
    /* border: medium solid black; */
}

.circle3{
    border: medium solid black;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 4000px; */
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    /* color: rgb(141, 216, 22); */
    background: linear-gradient(to right, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
    position: relative;
    bottom: 280px;
}



.circle3:hover{
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    color: rgb(141, 216, 22);
    background: linear-gradient(to left, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
}

.circle2 a{
    text-decoration: none;
}


@media(max-width: 991px){
    .section1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section1 p{
        width: 80%;
        font-size: 60px;
        font-weight: 600;
        line-height: 10px;
    }
}

@media(max-width: 521px){
    .circle2 img{
        width: 100%;
        height: 50vh;
    }

    .circle3{
        position: relative;
        bottom: 180px;
    }
}

/* section 4 */

.section4{
    height: 300px;
}

.sec3{
    margin-top: 100px;
    
}

.circle4{
    margin: auto;
    display: flex;
    justify-content: center;
        /* margin-top: 70px; */
}

.circle5 a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

.circle5{
    /* border: medium solid black; */
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    /* color: rgb(141, 216, 22); */
    background: linear-gradient(to right, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
}

.circle5:hover{
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    color: rgb(141, 216, 22);
    background: linear-gradient(to left, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
}

/* section 5 */

.section5{
    margin-top: 100px;
}

.imgg3{
    width: 80%;
    margin: auto;
}

/* section 6 */

.section6{
    /* background-image: url(https://freechurchwebsites.com/app/uploads/2019/07/Testimonials-PIC-small-1.jpg?id=7287); */
    background-repeat: no-repeat;
    background: url(https://freechurchwebsites.com/app/uploads/2019/07/Testimonials-PIC-small-1.jpg?id=7287) fixed;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: medium solid black;
    margin-top: 100px;
}

.sect{
    margin-top: 60px;
    text-align: center;
    /* border: medium solid black; */
    /* height: 20vh; */
}

.sect img{
    width: 5%;
}

.sect p{
    width: 63%;
    margin: auto;
    font-size: 24px;
    line-height: 43px;
    color: #ffffff;
}

.real{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2em;
    color: rgb(255, 255, 255);

}

@media(max-width: 990px){
    .sect p{
        width: 63%;
        
    }
    
}


@media(max-width: 769px){
    .sect p{
        width: 80%;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media(max-width: 767px){
    .sect p{
        width: 100%;
    }

    .sect{
        width: 100%;
    }
}

/* section 7 */

.sec4 .row{
    text-align: start;
}

.sec4 .row .col-4{
    margin-top: 50px;
}

.sec4 h3{
    font-size: 19px; 
    line-height: 1em; 
    font-weight: 500;
    width: 100%;
}

.sec4 p{
    font-size: 16px; 
    line-height: 27px;
    width: 70%;
}


@media(max-width: 990px){
    .sec4 .row{
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */

    }

    .sec4 h3{
        font-size: 19px; 
        line-height: 1em; 
        font-weight: 500;
        width: 100%;
    }

    .sec4 p{
        font-size: 16px; 
        line-height: 27px;
        width: 65%;
    }

    .sec4 .row .col-4{
        width: 100%;
        margin-top: 20px;
    }
}

@media(max-width: 768px){
    .sec4 .row .col-4{
        width: 100%;
    }

    .sec4 h3{
        font-size: 19px; 
        line-height: 1em; 
        font-weight: 500;
        width: 100%;
    }

    .sec4 p{
        font-size: 16px; 
        line-height: 27px;
        width: 100%;
    }
}

@media(max-width: 767px){
    .sec4 .row .col-4{
        width: 100%;
    }

    .sec4 h3{
        font-size: 19px; 
        line-height: 1em; 
        font-weight: 500;
        width: 100%;
    }

    .sec4 p{
        font-size: 16px; 
        line-height: 27px;
        width: 100%;
    }
}

/* section 8 */

.sec8 .col-4{
    width: 25%;
   text-align: center;
}

.sec8 h1:hover{
   /* background-color: linear-gradient(left top, right top, from(#8dd816), to(#0fc5ef)); */

   background: -webkit-gradient(linear, left top, right top, from(#8dd816), to(#0fc5ef));
    display: inline;
}


@media(max-width: 991px){
    .sec8 .col-4{
        width: 50%;
        text-align: center;
        margin-top: 30px;
    }
}

@media(max-width: 769px){
   .sec8 .col-4{
     display: none;
    }
}

/* section 9 */

.section9{
    margin-top: 100px;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text1{
    /* border: medium solid black; */
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text1 a{
    text-decoration: none;
    color: #060021;
}

.text1 h2{
    width: 65%;
    font-size: 22px;
    font-weight: 400;
    color: #060021;
    /* margin: auto; */
    margin-top: 50px;
}

.p1{
    width: 65%;
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    /* margin: auto; */
    margin-top: 20px;
} 

.text1:hover{
   transform: scale(1.);
}

/* @keyframes slides{
    0%{
        transform: scale(2);
    } */



.text1 .icons img{
    width: 15%;  
} 

.text1 .hy{
    margin-top: 40px;
}

@media(max-width: 991px){
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .text1 h2{
        width: 90%;
        font-size: 22px;
        font-weight: 400;
   
    }
    
    .p1{
        width: 90%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
      
    } 
}

/* section 10 */

.sec10{
    background: url(https://freechurchwebsites.com/app/uploads/2019/07/ismael-paramo-I-YAoNw2nds-unsplash-compressor-1.jpg?id=7367);
    /* position: static; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
   
}   

.sec100{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 60vh;
}



.btnn1{
    /* border: medium solid black; */
    width: 100%;
    height: 70px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    box-shadow: 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
    color: #fff;
    background: linear-gradient(to right, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
    /* margin-top: 50px; */
    /* border: medium solid black; */
}

.btnn1:hover{
    cursor: pointer;
    background: linear-gradient(to left, rgb(15, 197, 239) 0%, rgb(141, 216, 22) 100%);
}


.sec10 h1{
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: .015em;
    color: rgb(255,255,255);
    width: 80%;
}

.sec10 h3{
    color: #0fc5ef;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: .015em;
}

.sec10 p{
    font-size: 16px;
    line-height: 1.56em;
    letter-spacing: .02em;
    color: rgba(255, 255, 255, .7);
    margin-top: 30px;

}



@media(max-width: 992px){
    .sec100{
        flex-wrap: wrap;
        height: 100vh;
    }

}

@media(max-width: 768px){
    .sec100{
       
            flex-flow: column;
            height: 70vh;
            justify-content: center;
            align-items: start;
        }

      
.sec10 h1{
    font-size: 16px;
    /* line-height: 1.2em; */
    font-weight: 600;
    /* letter-spacing: .015em; */
    width: 100%;
}

    .sec10 h3{
        color: #0fc5ef;
        font-size: 16px;
        line-height: 1.2em;
        font-weight: 600;
        letter-spacing: .015em;
        width: 100%;
    }

    .btnn1{
        margin-top: 30px;
    }

    .sec10 p{
        font-size: 13px;
        color: #fff;
    
    }
 
}

/* section 11 */

.skf{
    background-color: #2D323D;
}

.sec11{
    justify-content: center;
    align-items: center;
}

.sec11 li{
    text-decoration: none;
    list-style-type: none;
}

.sec11 .tech1 nav{
    margin-top: 60px;
}

.sec11 h3{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}


.sec11 a{
  text-decoration: none;
  color: #98a2aa;
}

.sec11 .tech1{
    margin-top: 50px;
    line-height: 2em;

}

.techh{
    font-size: 20px;
    line-height: 1.6em;
}

.sec11 time{
    font-size: .625em;
    color: #98a2aa;
}


.wrappe{
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.wrappe li a{
    color: #98a2aa;
    text-decoration: none;
}


.tech1 li a:hover{
    cursor: pointer;
    color: #fff;
}

.tech1 .techh:hover{
    cursor: pointer;
    color: #fff;
}

.ted a:hover{
    cursor: pointer;
    color: #fff;
}

.sec11 i:hover{
    cursor: pointer;
    color: #fff;
}

.wrappe a:hover{
    cursor: pointer;
    color: #fff;
}

.BUT{
    display: flex;
    align-items: center;
    gap: 1em;
}

.BUT .b{
    width: 19%;
    height: 8vh;
    border-radius: 300px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}


@media(max-width: 991px){
    .sec11 .col-4{
        width: 50%;
        margin-top: 30px;
    }

    .lasts{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .sec11{
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 768px){
    .sec11 .col-4{
        width: 100%;
    }

    .BUT{
      flex-wrap: wrap;
      
    }
    
    .BUT .b{
        width: 100%;
        border-radius: 30px;
        justify-content: center;
    }
    

    .wrappe{
        flex-wrap: wrap;
    }
}